<button class="Btn-regresar-tab" [routerLink]="['/inicio']">
  <div class="sign">
    <i class="fa-solid fa-arrow-left-long fa-2x"></i>
  </div>
</button>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Consultas académicas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="matricula">
        <i class="fa-solid fa-list fa-2x"></i>
        Matrícula
      </ion-tab-button>
      <ion-tab-button tab="ficha-academica">
        <i class="fa-solid fa-table-list fa-2x"></i>
        Ficha A.
      </ion-tab-button>
      <ion-tab-button tab="horario-estudiante">
        <i class="fa-solid fa-calendar-days fa-2x"></i>
        Horario
      </ion-tab-button>
      <ion-tab-button tab="notas-parciales">
        <i class="fa-solid fa-book-bookmark fa-2x"></i>
        Notas P.
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
