<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sede La Plata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button class="Btn-regresar" [routerLink]="['/sedes']">
    <div class="sign">
      <i class="fa-solid fa-arrow-left-long fa-2x"></i>
    </div>
    <div class="text">Regresar</div>
  </button>
  <div class="content">
    <ion-card class="mt-4">
      <!-- <img alt="Silhouette of mountains" src="assets/central.svg" /> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d835.9083325514831!2d-75.90492963641341!3d2.3858448703583135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3ad2adce7c337b%3A0x1881f3946cf2a5f5!2sUniversidad%20Surcolombiana%20Sede%20La%20Plata!5e1!3m2!1ses-419!2sco!4v1734377782665!5m2!1ses-419!2sco"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <ion-card-header>
        <ion-card-title>Sede La Plata</ion-card-title>
        <ion-card-subtitle
          >Kilómetro 1 vía a Fátima</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        Horario de atención: Lunes a viernes de 8:00 a.m. <br />
        a 12:00 m y de 2:00 p.m. a 6:00 p.m. <br />
        Línea gratuita Nacional: 01 - 8000 - 968722 <br />
        Conmutador: +57 (608) 8754753
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
