<ion-app>
  <ion-menu contentId="main" side="start" *ngIf="isAuthenticated">
    <!-- Cambiado aquí -->
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title> Menú </ion-title>
        <ion-avatar slot="start" class="small-avatar ms-3">
          <img alt="Avatar" [src]="foto.url" *ngIf="foto.url" />
          <!-- Muestra solo si hay URL -->
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="'/inicio'" style="background-color: #F0F4F9;">
            <ion-label style="color:#4D626C"> <i class="fa-solid fa-house"></i> Inicio </ion-label>
          </ion-item>
          <ion-item
            button
            *ngFor="let link of links; let i = index"
            button
            [routerLink]="link.ruta"
          >
            <ion-label style="color:#4D626C">
              <i class="{{ link.icono }}"></i> {{ link.titulo }}
            </ion-label>
          </ion-item>
          <!-- <ion-item button (click)="logout()">
            <ion-label>
              <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
            </ion-label>
          </ion-item> -->
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item button (click)="logout()">
        <ion-label style="color:#4D626C">
          <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
        </ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
