<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title
      class="ion-text-center"
      style="padding-left: 0; padding-right: 40px"
      >Docente</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content" *ngIf="foto.url == ''">
    <ion-grid>
      <ion-row class="text-center">
        <ion-col
          ><img src="assets/precarga-usco.gif" class="img-fluid" alt="USCO"
        /></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="container mt-3 mb-5 text-center">
    <button class="Btn-molinete" (click)="flipCard(0)">
      <div class="sign">
        <i class="fa-solid fa-qrcode fa-2x"></i>
      </div>

      <div class="text">Molinete</div>
    </button>
    <button class="Btn-convenio" (click)="flipCard(1)">
      <div class="sign">
        <i class="fa-solid fa-earth-americas fa-2x"></i>
      </div>

      <div class="text">Convenio</div>
    </button>
    <button class="Btn-regresar" [routerLink]="['/credenciales']">
      <div class="sign">
        <i class="fa-solid fa-arrow-left-long fa-2x"></i>
      </div>

      <div class="text">Regresar</div>
    </button>
    <div class="row slide-in-fwd-center" *ngIf="foto.url != ''">
      <div class="col">
        <div class="carnet" [class.flipped]="flipped" (click)="flipCard(0)">
          <div class="front">
            <ion-card
              id="carnet-usco-rotulo-front"
              class="card-usco-carnet"
              style="text-align: center"
              *ngIf="foto.url != ''"
            >
              <ion-card-header>
                <ion-card-title
                  ><img
                    src="assets/universidad-surcolombiana-multicampos.png"
                    class="img-fluid"
                /></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col
                      ><img
                        *ngIf="(docente | json) != '[]'"
                        src="{{ foto.url }}"
                        [alt]="persona[0].apellido"
                        [title]="persona[0].apellido"
                        class="card-img-top foto-usco cursor-select"
                    /></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col></ion-col>
                  </ion-row>
                </ion-grid>
                <div class="row mb-2">
                  <div class="col">
                    <h6
                      *ngIf="(docente | json) != '[]'"
                      class="font-usco-vt text-uppercase"
                    >
                      <strong
                        >{{ docente[0].persona.nombre }}
                        {{ docente[0].persona.apellido }}</strong
                      >
                    </h6>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <h6
                      *ngIf="(docente | json) != '[]'"
                      class="font-usco-gr text-uppercase"
                    >
                      {{ docente[0].persona.documento }}:
                      {{ docente[0].persona.identificacion }}
                    </h6>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <h6 *ngIf="(docente | json) != '[]'" class="font-usco-gr">
                      R.H: {{ persona[0].grupoSanguineo }}
                    </h6>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <h6
                      *ngIf="(docente | json) != '[]'"
                      class="font-usco-vt text-uppercase"
                    >
                      <strong
                        >{{ docente[0].sede }} -
                        {{ docente[0].nombrePrograma }}</strong
                      >
                    </h6>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col">
                    <img src="{{ codigoBarras }}" />
                  </div>
                </div> -->
                <div class="row mt-3">
                  <div class="col">
                    <div
                      class="d-flex align-items-center justify-content-center position-relative"
                    >
                      <h6
                        *ngIf="(docente | json) != '[]'"
                        class="font-usco-gr text-uppercase"
                      >
                        {{ docente[0].vinculacionNombre }}
                      </h6>
                      <span class="font-usco-gr position-absolute end-0"
                        ><img src="assets/qr_code_2.svg" alt=""
                      /></span>
                    </div>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="back" *ngIf="tipoQr === 1">
            <ion-card
              id="carnet-usco-rotulo-back-externo"
              class="card-usco-carnet"
              style="text-align: center"
              *ngIf="foto.url != ''"
            >
              <ion-card-header>
                <ion-card-title
                  ><img
                    src="assets/universidad-surcolombiana-multicampos.png"
                    class="img-fluid"
                /></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col>
                      <div class="qr-container">
                        <qrcode
                          [qrdata]="codigoQr"
                          [width]="250"
                          colorLight="#ffffff"
                          colorDark="#1E262B"
                          [errorCorrectionLevel]="'M'"
                        ></qrcode></div
                    ></ion-col>
                  </ion-row>
                  <ion-row *ngIf="(politicaDocente | json) != '[]'">
                    <ion-col
                      ><small class="pre">
                        {{ politicaDocente[0].descripcion }}
                      </small></ion-col
                    >
                  </ion-row>
                  <ion-row>
                    <ion-col
                      ><div
                        class="d-flex align-items-center justify-content-center position-relative"
                      >
                        <h6
                          class="font-usco-vt administrativo text-uppercase m-0 text-center flex-grow-1"
                        >
                          <strong>APLICA PARA CONVENIOS</strong>
                        </h6>
                        <span class="font-usco-gr position-absolute end-0"
                          ><img src="assets/Frame 21.svg"
                        /></span></div
                    ></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="back" *ngIf="tipoQr === 0">
            <ion-card
              id="carnet-usco-rotulo-back"
              class="card-usco-carnet"
              style="text-align: center"
              *ngIf="foto.url != ''"
            >
              <ion-card-header>
                <ion-card-title
                  ><img
                    src="assets/universidad-surcolombiana-multicampos.png"
                    class="img-fluid"
                /></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col>
                      <img
                        style="width: 280px; border-radius: 10px"
                        src="assets/BioStar2_QR.png"
                        alt="USCO"
                    /></ion-col>
                  </ion-row>
                  <ion-row *ngIf="(politicaDocente | json) != '[]'">
                    <ion-col
                      ><small class="pre">
                        {{ politicaDocente[0].descripcion }}
                      </small></ion-col
                    >
                  </ion-row>
                  <ion-row>
                    <ion-col
                      ><div
                        class="d-flex align-items-center justify-content-center position-relative"
                      >
                        <h6
                          class="font-usco-vt administrativo text-uppercase m-0 text-center flex-grow-1"
                        >
                          <strong>PRESENTAR A LA ENTRADA</strong>
                        </h6>
                        <span class="font-usco-gr position-absolute end-0"
                          ><img src="assets/Frame 21.svg" alt=""
                        /></span></div
                    ></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
