<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Estudiante Intercambio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content" *ngIf="foto.url == ''">
    <ion-grid>
      <ion-row class="text-center">
        <ion-col
          ><img src="assets/precarga-usco.gif" class="img-fluid" alt="USCO"
        /></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="content-wrap" class="container mt-3 mb-5 text-center">
    <button *ngIf="mobile" class="btn-flotante-usco" [routerLink]="['/credenciales']">
      <i class="fa-solid fa-arrow-left-long fa-2x"></i>
    </button>
    <button *ngIf="mobile" class="btn-flotante-usco-dos" (click)="flipCard()">
      <i class="fa-solid fa-qrcode fa-2x"></i>
    </button>
    <div class="row" *ngIf="mobile && foto.url != ''">
      <div class="col">
        <div class="carnet" [class.flipped]="flipped" (click)="flipCard()">
          <div class="front">
            <div
              class="card-usco-carnet carnet-usco-body shadow p-4 text-center"
              id="carnet-usco-rotulo-front"
            >
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="row mb-3">
                    <div class="col">
                      <img
                        src="https://www.usco.edu.co/imagen-institucional/ocre/universidad-surcolombiana-multicampos.png"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img
                        *ngIf="(estudiante | json) != '[]'"
                        src="{{ foto.url }}"
                        [alt]="estudiante[0].persona.apellido"
                        [title]="estudiante[0].persona.apellido"
                        class="card-img-top foto-usco cursor-select"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-8 mt-4">
                  <div class="card-block">
                    <div class="row mb-2">
                      <div class="col">
                        <small
                          *ngIf="(estudiante | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold text-uppercase"
                        >
                          {{ estudiante[0].persona.nombre }}
                          {{ estudiante[0].persona.apellido }}
                          <span *ngIf="estudiante[0].persona.codigo == 128884"
                            ><i class="fa-solid fa-cat"></i
                          ></span>
                        </small>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <h6
                          *ngIf="(estudiante | json) != '[]'"
                          class="font-weight-bold font-usco-gr text-uppercase"
                        >
                          Código: {{ estudiante[0].codigo }}
                        </h6>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <small
                          *ngIf="(estudiante | json) != '[]'"
                          class="font-usco-vt font-weight-bold"
                        >
                          R.H: {{ estudiante[0].persona.grupoSanguineo }}
                        </small>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <h6
                          *ngIf="(estudiante | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold"
                        >
                          {{ estudiante[0].persona.documento }}:
                          {{ estudiante[0].persona.identificacion }}
                        </h6>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <small
                          *ngIf="(estudiante | json) != '[]'"
                          class="font-usco-default font-usco-gr font-weight-bold text-uppercase"
                        >
                          {{ estudiante[0].programa.nombreCorto }}
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <small
                          class="font-usco-default font-weight-bold font-usco-vt text-uppercase"
                        >
                          ESTUDIANTE
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="back">
            <div
              class="card-usco-carnet carnet-usco-body shadow p-4 mb-4 text-center"
              id="carnet-usco-rotulo-back"
            >
              <div class="row mt-2">
                <div class="col">
                  <img
                    src="assets/universidad-surcolombiana-v.png"
                    class="img-fluid p-3 firma-usco"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mt-1">
                  <div class="row">
                    <div class="col mt-2">
                      <!-- <qrcode
                        [qrdata]="codigoQr"
                        [width]="250"
                        colorLight="#ffffff"
                        colorDark="#1E262B"
                        [errorCorrectionLevel]="'M'"
                      ></qrcode> -->
                      <img
                        style="width: 300px"
                        src="assets/BioStar2_QR.png"
                        alt="USCO"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-8 p-0 mt-2">
                  <div class="card-block px-3">
                    <div class="row">
                      <div class="col">
                        <h6
                          class="font-usco-default font-weight-bold font-usco-bl pre leyenda-mobile"
                        >
                          {{ politicaEstudiante[0].descripcion }}
                        </h6>
                      </div>
                    </div>
                    <!-- <div class="row mt-1 mb-2">
                      <div class="col">
                        <img
                          src="{{ firma.url }}"
                          class="img-fluid firma-usco"
                        />
                      </div>
                    </div>
                    <div *ngIf="(rector | json) != '[]'" class="row">
                      <div class="col">
                        <small
                          *ngIf="rector[0].persona.genero == 'M'"
                          class="font-usco-default font-weight-bold text-uppercase"
                        >
                          RECTOR
                        </small>
                        <small
                          *ngIf="rector[0].persona.genero == 'F'"
                          class="font-usco-default font-weight-bold text-uppercase"
                        >
                          RECTORA
                        </small>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
