<ion-content scroll="false">
  <div class="content" style="background-color: #f0f4f9">
    <ion-card class="card-login ion-text-center m-3">
      <ion-card-header class="header-usco-card bg-usco-vt">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img
                title="USCO"
                src="assets/universidad-surcolombiana-multicampos.png"
                class="img-fluid"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content class="card-body">
        <ion-grid>
          <div class="container">
            <ion-row class="mt-2">
              <ion-col>
                <ion-text class="ion-text-center titulo">
                  USCO a la mano
                </ion-text>
              </ion-col>
            </ion-row>
            <form [formGroup]="formLogin">
              <ion-row class="ion-padding-top ion-padding-bottom">
                <ion-col
                  ><mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <span matPrefix class="p-2"
                      ><img src="assets/person.svg" alt=""
                    /></span>
                    <mat-label>Usuario</mat-label>
                    <input
                      matInput
                      formControlName="usuario"
                    /> </mat-form-field
                ></ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-col
                  ><mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <span matPrefix class="p-2">
                      <img src="assets/key.svg" alt="" />
                    </span>
                    <mat-label>Contraseña</mat-label>
                    <input
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      formControlName="contrasenia"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="
                        hide ? 'Mostrar contraseña' : 'Ocultar contraseña'
                      "
                      [attr.aria-pressed]="!hide"
                    >
                      <i
                        [ngClass]="
                          hide
                            ? 'fa-regular fa-eye fa-xs'
                            : 'fa-regular fa-eye-slash fa-xs'
                        "
                        aria-hidden="true"
                      ></i>
                    </button> </mat-form-field
                ></ion-col>
              </ion-row>
              <ion-row class="text-start">
                <ion-col>
                  <ion-text>
                    <a
                      href="https://www.usco.edu.co/cambio_clave/"
                      target="_blank"
                      style="font-size: 16px; font-weight: 550"
                    >
                      <small class="font-small-usco-vt ms-1"
                        >¿Olvidó su contraseña?</small
                      >
                    </a>
                  </ion-text>
                </ion-col>
              </ion-row>
            </form>
            <ion-row class="ion-padding-top" *ngIf="alert">
              <ion-col
                ><div
                  class="alert alert-danger"
                  role="alert"
                  style="color: red"
                >
                  {{ error }}
                </div></ion-col
              >
            </ion-row>
            <ion-row>
              <ion-col
                ><ion-button
                  class="mt-3 no-uppercase"
                  (click)="login()"
                  [disabled]="!formLogin.valid"
                >
                  Ingresar
                  <!--  <ion-spinner
                  *ngIf="cargando"
                  name="lines-small"
                  slot="end"
                ></ion-spinner> -->
                </ion-button></ion-col
              >
            </ion-row>
            <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
              <ng-template>
                <div class="wrapper">
                  <h1 class="font-usco-vt">
                    <strong>Tipos de usuario:</strong>
                  </h1>
                  <ion-row>
                    <ion-col>
                      <img src="assets/tipousuariousco2.png" alt="" />
                    </ion-col>
                  </ion-row>
                </div>
              </ng-template>
            </ion-modal>
            <ion-row class="ion-padding-top">
              <ion-col class="text-end me-3"
                ><small class="font-small-usco-vt cursor-select">
                  <a
                    id="open-custom-dialog"
                    expand="block"
                    style="font-size: 12px; font-weight: 550"
                  >
                    <i class="fa-solid fa-circle-info"></i> Tipos de Usuario
                  </a>
                </small></ion-col
              >
              <ion-col class="text-start ms-3">
                <small class="font-small-usco-vt cursor-select">
                  <a
                    [routerLink]="['/login']"
                    style="font-size: 12px; font-weight: 550"
                  >
                    <i class="fa-solid fa-book"></i> Instructivo
                  </a>
                </small>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small
                  class="font-usco-gr"
                  style="font-size: 14px; font-weight: 550"
                >
                  © {{ today | date : "yyyy" }} CITCD - Versión 2 Construcción
                  1.5
                </small>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
